.icon {
  display: inline-block;
  fill: $light-color;
  @extend %cursor-pointer;
  &:hover {
    fill: $hover-color;
  }
}

.icon-logo {
  width: 30px;
  height: 30px;
}

.icon-square {
  width: 100px;
  height: 100px;
  @extend %flex;
  @extend %js-content-center;
  @extend %al-items-center;
  background: $secondary-color;
  border-radius: $img-radius;
  @include media-mobile {
    width: 70px;
    height: 70px;
  }
}

.icon-step {
  background-repeat: no-repeat;
  background-position: center;
}
.icon-step-1 {
  width: 50px;
  height: 45px;
  background-image: url("../icons/i-step-1.svg");

  @include media-mobile {
    background-image: url("../icons/i-step-1-mb.svg");
  }
}

.icon-step-2 {
  width: 52px;
  height: 52px;
  background-image: url("../icons/i-step-2.svg");
  @include media-mobile {
    background-image: url("../icons/i-step-2-mb.svg");
  }
}

.icon-step-3 {
  width: 60px;
  height: 45px;
  background-image: url("../icons/i-step-3.svg");
  @include media-mobile {
    background-image: url("../icons/i-step-3-mb.svg");
  }
}

.icon-arrow {
  width: 35px;
  height: 25px;

  @include media-mobile {
    width: 10px;
    height: 6px;
  }
}

.icon-inst {
  width: 32px;
  height: 32px;
}

.icon-youtube {
  width: 32px;
  height: 32px;
  fill: transparent;
}

.icon-twitter {
  width: 31px;
  height: 31px;
}

.icon-slider {
  width: 2.6em;
  height: 2.6rem;
  fill: $secondary-color;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.icon-google {
  width: 24px;
  height: 24px;
  background: url(../icons/i-google.svg);
  background-repeat: no-repeat;
}

.icon-meta {
  width: 24px;
  height: 24px;
  background: url(../icons/i-meta.svg);
  background-repeat: no-repeat;
}
