.search {
  @extend %flex;
  @extend %js-content-space-between;
  padding: 1.8rem 1.9rem 1.8rem 4rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: $img-radius;
  @include media-mobile {
    padding: 0.9rem 0.9rem 0.9rem 1.6rem;
  }
}
.search__input {
  width: 40%;
  @include font($fs-button, 2.9rem, 400, $style: italic);
  background: transparent;
  border: none;
  @media (max-width: 800px) {
    width: 60%;
  }

  &::placeholder {
    color: $secondary-color;
    @include media-tablet {
      @include font(2.3vw, 2.3vw);
    }
    @include media-mobile {
      font-size: $fs-section-mobile;
      line-height: 1.7rem;
    }
    @media (min-width: 320px) and (max-width: 389px) {
      font-size: 1.8vh;
      line-height: 1.8vh;
    }
  }
}
