h1 {
  font-family: $ff-main;
  @include font(8rem, 9.6rem, $bold);
  @include media-tablet-large {
    @include font(6.5rem, 6rem);
  }
  @include media-tablet {
    @include font(9vw, 9vw);
  }
}

h2 {
  font-family: $ff-secondary;
  @include font(4rem, 5.3rem);
  @include media-tablet-large {
    @include font(3rem, 3rem);
  }

  @include media-mobile {
    font-size: $fs-section-mobile;
    line-height: 1.9rem;
  }
}

h3 {
  @include font(3.5rem, 4.2rem, $bold);
  @include media-laptop {
    @include font($size: 2.2rem, $height: 2.2rem);
  }
  @include media-mobile {
    font-size: $fs-title-mobile;
    line-height: 1.3rem;
  }
}

h4 {
  @include font($fs-link, 1.9rem, 400);
  @include media-mobile-big {
    @include font(2vh, 2vh);
  }
}

h5 {
  @include font(1.5rem, 1.8rem, $bold);
  text-align: center;
  @include media-mobile-big {
    @include font(2vh, 2vh);
  }
}
