.footer__container {
  min-height: 61px;
  background: url("../images/fotter-bg.jpg");
  background-position: center -1260px;
  background-repeat: no-repeat;
  @media (min-width: 1441px) {
    max-width: none;
    background-size: cover;
  }
  @include media-mobile {
    min-height: 65px;
    background: url("../images/fotter-bg-mb.jpg");
    background-position: center -628px;
    background-repeat: no-repeat;
  }
}

.footer-items {
  @extend %flex;
  @extend %js-content-space-between;
}

.footer-information {
  margin: 0 auto;
  padding-top: 1.8rem;
  padding-left: 16.1rem;
  @media (max-width: 829px) {
    display: none;
  }
}

.footer-information__text {
  font-family: $ff-secondary;
  @include font($fs-link, $height-link);
}

.footer-social {
  @extend %flex;
  @media (max-width: 829px) {
    margin: 0 auto;
  }
}

.footer-social__item {
  padding-top: 1.5rem;
  padding-left: 2.3rem;
  @include media-mobile {
    padding-left: 2.2rem;
    &:first-child {
      padding-left: 0.8rem;
    }
    &:nth-child(3) {
      padding-left: 2.1rem;
    }
  }
}
